@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}
body{
  margin: 0 20px;
}
h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2{
  margin-left: 15px;
  color: gray;
}
.allProducts, .singleProductPage{
  margin-top: 120px;
}
.navbar, .footer{
  background-color: #25b67e !important;
}
.navbar a{
  margin-left: 30px;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  overflow: hidden;
  height: 400px;
  width: 220px;
}

.productCards{
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card img{
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.outerCard{
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 20px;
}
.outerCard:hover{
  transition: 300ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.price{
  padding: 10px;
}
.productName{
  font-size: 18px;
}

.aboutDiv, .stacks{
  margin: 90px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.singlePerson{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
a{
  text-decoration: none;
  color: gray;
  font-size: 18px;
}
.ourTeam , .stacksTitle{
  text-align: center;
  margin: 100px auto;
}
.stacks > h3{
  background-color: #2581b6;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;

}
.productTitle, .productText >h3, .productRating{
  color:#228e6f;
}
.productImage{
  max-width: 600px;
  max-height: 70%;
}
.priceCart{
  width: 100%;
}
.quantity{
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  border:#2a936e 1px solid;
}
.productText{
  height: 80%;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}
.productText > * , .productText > Button{
  margin: 15px;
}
.singleProductPage{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto inherit;
  height: 90%;
  padding: 0 100px;
  gap: 160px;
}
.singleProductPage > *{
  height: 100%;
}
.price{
  margin-left: 0;
  font-size: 30px;
  color: #416dd3 !important;
}
